
<div p9>
<h1>Hello, Angular {{title}}</h1>
<!---->
<app-user-table></app-user-table>



<!---->
<app-login></app-login>
<button (click)="getName('Roger Ramjet')">Click Me</button>
<button (click)="getData('button click event')">Get Data</button>
<br/><br/>
<input type="text" #box1 placeholder="keyup box" (keyup)="getData(box1.value)"/>
<br/>
<input type="text" #box2 placeholder="keydown box" (keydown)="getData(box2.value)"/>
<br/>
<input type="text" #box3 placeholder="blur box" (blur)="getData(box3.value)"/>
<br/>
<input type="text" #box4 placeholder="input box" (input)="getData(box4.value)"/>
<br/>
<h1 (mouseover)="getData('mouse over')">Code Step By Step</h1>

<h1 (mouseleave)="getData('mouse leave')">Ray is Here</h1>
<h2>{{data}}</h2>
<h2>{{getVal()}}</h2>
<app-header></app-header>
<app-register></app-register>
<app-student-list></app-student-list>
<app-profile></app-profile>
<app-country></app-country>
</div>